extends layout

block content
  h1 All Questions

  each question in questions
    .question-card(onclick=`redirectToRespond('${question._id}')`)
      p User: #{question.user.username}
      p Question: #{question.question}
      if (user)
        a(href=`/respond/${question._id}`) Respond


